<h1>Coupons</h1>

<table>
  <tr>
    <th>Store</th>
    <th>Coupon Code</th>
  </tr>


  <% @coupons.each do |coupon| %>
    <tr>
      <td><%=link_to coupon.coupon_code, coupon_path(coupon) %></td>
      <td><%= coupon.store %></td>
    </tr>
  <% end %>
</table>
